#intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 200px;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Roboto Mono', monospace;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 4px solid #1a1a1a;
    box-shadow: 5px 5px 20px #000000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    margin: 125px 0px 100px 0;
    flex-direction: row-reverse; /* Reverse the order of flex items */
    align-items: center; /* Center vertically */
}
#intro-wrapper:hover {
    background-color: black;
    border: 4px solid #1a1a1a;
    box-shadow: 5px 5px 20px #000000;
    opacity: 0.9;
}
#intro-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/markus-spiske-KDBWMSq9wh0-unsplash.jpg');
    opacity: 0;
    transition: opacity 0.3s ease;
}
#intro-wrapper:hover::before {
    opacity: 0.1; /* Show the code snippet on hover */
}
#intro-wrapper:hover #intro-text {
    transform: translateX(50px); /* Move the text to the right */
}

#intro-header {
    font-size: 1.6rem;
    padding-bottom: 27px;
}

#intro-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    font-size: 1.15rem;
    transition: transform 0.3s ease; /* Add transition for transform property */
}

.headshot-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 160px;
    padding: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 30px; /* Add some margin for spacing */
}

#intro-wrapper:hover .headshot-wrapper {
    opacity: 1;
}

.headshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    opacity: 1;
}
