.intro-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    height: 348px;
    background-color: transparent;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    transition: background-color 0.75s ease, transform 0.75s ease;
    border: 4px solid transparent;
    box-shadow: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    margin: 31px 0px 31px 0;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
}
.intro-wrapper:hover {
    background-color: black;
    box-shadow: 5px 5px 20px #000000;
    opacity: 0.9;
}
.intro-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/markus-spiske-KDBWMSq9wh0-unsplash.jpg');
    opacity: 0;
    transition: opacity 0.75s ease;
}
.intro-wrapper:hover::before {
    opacity: 0.1; /* Show the code snippet on hover */
}
.intro-wrapper:hover .intro-text {
    transform: translateX(150px); /* Move the text to the right */
}

.intro-header {
    font-size: 1.6rem;
    padding-bottom: 27px;
}

.intro-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    max-width: 300px;
    font-size: 1.15rem;
    transition: transform 0.3s ease;
}

.headshot-wrapper {
    position: absolute;
    left: 0;
    width: 390px;
    height: 410px;
    padding: 50px 50px 50px 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.intro-wrapper:hover .headshot-wrapper {
    opacity: 1;
}

.headshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    opacity: 1;
    max-width: 100%;
}

.technical-skills-wrapper {
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.technical-skills {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill {
    width: 100%;
    margin: 0 5px;
    padding: 8px 12px;
    text-align: center;
}

@media (max-width: 767px) {
    .intro-wrapper {
        flex-direction: column;
        height: auto;
        padding: 20px;
        margin: 50px 0;
        border: none;
        box-shadow: none;
    }

    .intro-text {
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
    }

    .headshot-wrapper {
        position: static;
        width: 188px;
        height: 188px;
        padding: 0;
        margin: 20px 0;
        opacity: 1;
    }

    .headshot {
        border-radius: 5px;
    }

    .skill {
        text-shadow: none;
    }

    .intro-wrapper:hover::before {
        opacity: 0; /* Hide the image on hover */
    }

    .intro-wrapper::before {
        display: none; /* Hide the image */
    }

    /* Disable hover styles */
    .intro-wrapper:hover,
    .intro-wrapper:hover::before,
    .intro-wrapper:hover .intro-text,
    .intro-wrapper:hover .headshot-wrapper {
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        transform: none;
        background-image: none;
    }
}
