#intro-wrapper {
    display: flex;
    justify-content: center;
}

#intro-header {
    font-size: 1.6rem;
    padding-bottom: 27px;
}

#intro-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    font-size: 1.15rem;
}
