<div class="intro-wrapper">
  <div class="hero-title-wrapper">
    <h1 class="hero-title">Ricky Marasigan</h1>
    <h1 class="hero-subtitle">Frontend Developer</h1>
  </div>

  <div class="cartoon-and-text-wrapper">
    <img class="cartoon" src="assets/cartoon-ricky-transparent-bg.jpg" />
    <div class="intro-text">
      <div class="intro-header">{{ introText.header }}</div>
      <p class="intro-paragraph">{{ introText.paragraph }}</p>
    </div>
  </div>
</div>

<div class="technical-skills-wrapper">
  <div class="intro-header">TECHNICAL SKILLS</div>
  <div class="technical-skills">
    <div *ngFor="let skill of technicalSkills" class="technical-skill">
      <div class="technical-skill-name">{{ skill.name }}</div>
      <img class="technical-skill-icon" [src]="skill.iconPath" />
    </div>
  </div>
</div>
