#footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#footer-logo {
    max-width: 150px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: grey;
}
a:visited {
    color: white;
}