<mat-toolbar role="heading" id="header-toolbar">
  <div class="headshot-wrapper">
    <img
      id="header-headshot"
      src="assets/cartoon-ricky-face.jpg"
      alt="cartoon headshot"
    />
  </div>

  <div id="header-icon-links">
    <a
      *ngFor="let link of iconLinks"
      class="header-icon-link"
      [href]="link.url"
      target="_blank"
      >{{ link.name }}</a
    >
    <a
      href="mailto:rickysoliman@gmail.com"
      class="header-icon-link"
      target="_blank"
      >Contact</a
    >
  </div>
</mat-toolbar>
