<mat-toolbar role="heading" id="header-toolbar">
  <div class="headshot-wrapper">
    <img
      id="header-headshot"
      src="assets/ricky-and-mickie.jpg"
      alt="headshot"
    />
  </div>

  <div id="header-icon-links">
    <a
      *ngFor="let link of iconLinks"
      [href]="link.url"
      class="iconLink"
      target="_blank"
      >{{ link.name }}</a
    >
    <!-- <a
      class="contact icon-link"
      href="mailto:rickysoliman@gmail.com"
      target="_blank"
      >Contact</a
    > -->
  </div>
</mat-toolbar>
