#header-main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 10px;
    background-color: transparent;
    color: #64ffda;
    width: 100vw;
}

#header-title-wrapper {
    color: #64ffda;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#header-logo {
    padding: 10px 50px;
    border-radius: 50%;
}

#header-links {
    padding-right: 50px;
    text-align: center;
}

a:link {
    color: #64ffda;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #64ffda;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(181, 180, 180);
}

.header-link {
    padding: 10px;
}
.header-link:hover {
    text-decoration: underline;
}