#header-toolbar {
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 20px 10px;
    color: white;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header-title-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#header-title {
    font-size: 2em;
    padding: 10px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

#header-logo {
    display: block;
    max-width: 150px;
    height: auto;
}

#header-links {
    padding-right: 50px;
    text-align: center;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    // color: rgb(196, 128, 128);
    color: grey;
}

.header-link {
    padding: 10px;
}
.header-link:hover {
    color: green;
}
