.content-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-header {
    color: white;
    padding-top: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 7px 6px 5px rgb(0 0 0);
}

.work-experience {
    width: 75%;
}

.work-experience-wrapper {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.work-experience-header {
    display: flex;
    flex-direction: column;
    flex-direction: start;
    margin-bottom: 10px;
}

.work-experience-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.work-experience-company {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.work-experience-date {
    font-size: 14px;
    color: #777;
    margin: 0;
}

.work-experience-title {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.work-experience-description {
    font-size: 16px;
    color: #555;
    margin: 0;
}


.temp {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.custom-button {
    background-color: #8fa902;
    color: white;
    height: fit-content;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 5px 5px 4px black;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #6c7d01;
    cursor: pointer;
    box-shadow: 8px 7px 11px black;
    transition: box-shadow 0.3s ease;
}

.custom-button:active {
    background-color: #a5be04;
}

.custom-button:focus {
    outline: none;
}

