<div class="content-wrapper">
    <app-introduction></app-introduction>
    <h1 class="projects-header">PROJECTS</h1>
    <div class="projects" *ngFor="let project of projects">
      <ng-template #projectTpl>
        <app-project
          [name]="project.name"
          [description]="project.description"
          [gifPath]="project.gifPath"
        ></app-project>
      </ng-template>

      <app-content-card [url]="project.url" [contentTemplate]="projectTpl"></app-content-card>
    </div>
</div>
