<div class="content-wrapper">
    <div [class.fade-in]="true">
      <app-introduction></app-introduction>
    </div>

    <h1 class="content-header" [class.fade-in]="true">PROJECTS</h1>
    <div class="projects" *ngFor="let project of projects">
      <ng-template #projectTpl>
        <app-project
          [class.fade-in]="true"
          [name]="project.name"
          [description]="project.description"
          [gifPath]="project.gifPath"
        ></app-project>
      </ng-template>

      <app-content-card [url]="project.url" [contentTemplate]="projectTpl" [class.fade-in]="true"></app-content-card>
    </div>

    <h1 class="content-header" [class.fade-in]="true">WORK EXPERIENCE</h1>
    <div class="work-experience" *ngFor="let work of workExperience" [class.fade-in]="true">
      <div class="work-experience-wrapper">
        <div class="work-experience-header">
          <img class="work-experience-logo" [src]="work.logoPath">
          <h2 class="work-experience-company">{{ work.company }}</h2>
          <p class="work-experience-date">{{ work.date }}</p>
        </div>
        <h3 class="work-experience-title">{{ work.title }}</h3>
        <p class="work-experience-description">{{ work.description }}</p>
      </div>
    </div>
</div>
