<section class="contact-wrapper" *ngIf="!messageSent">
  <h1 class="section-header">Contact Me</h1>

  <form
    name="contact"
    class="contact-form"
    method="POST"
    [formGroup]="contactFormGroup"
    (ngSubmit)="onSubmit($event)"
    novalidate
  >
    <label for="name" class="required">Name</label>
    <div class="input-wrapper">
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        required
      />
    </div>
    <div
      class="error"
      *ngIf="
        contactFormGroup.get('name')?.invalid &&
        contactFormGroup.get('name')?.touched
      "
    >
      <small *ngIf="contactFormGroup.get('name')?.errors?.required">
        Name is required.
      </small>
    </div>
    <label for="email" class="required">Email</label>
    <div class="input-wrapper">
      <input
        id="email"
        name="email"
        type="email"
        formControlName="email"
        required
      />
    </div>
    <div
      class="error"
      *ngIf="
        contactFormGroup.get('email')?.invalid &&
        contactFormGroup.get('email')?.touched
      "
    >
      <small *ngIf="contactFormGroup.get('email')?.errors?.required">
        Email is required.
      </small>
      <small *ngIf="contactFormGroup.get('email')?.errors?.email">
        Please enter a valid email address.
      </small>
    </div>
    <label for="message" class="required">Message</label>
    <div class="input-wrapper">
      <textarea
        id="message"
        name="message"
        rows="6"
        formControlName="message"
        required
      ></textarea>
    </div>
    <div
      class="error"
      *ngIf="
        contactFormGroup.get('message')?.invalid &&
        contactFormGroup.get('message')?.touched
      "
    >
      <small *ngIf="contactFormGroup.get('message')?.errors?.required">
        Message is required.
      </small>
    </div>
    <button type="submit">Send Message</button>
  </form>
</section>

<section class="contact-wrapper" *ngIf="messageSent">
  <div class="thank-you-message">
    <h1>Message Sent!</h1>
    <p>
      Thank you so much for reaching out. I'll get back to you as soon as I can!
    </p>
  </div>
</section>
