<section class="contact-wrapper">
  <h1 class="section-header">Contact Me</h1>

  <form
    class="contact-form"
    name="contact"
    method="POST"
    netlify
    netlify-honeypot="bot-field"
    hidden-input
  >
    <!-- Hidden Netlify form field -->
    <div class="input-wrapper">
      <input type="hidden" name="form-name" value="contact" />
    </div>
    <p class="hidden">
      <label>Don’t fill this out: <input name="bot-field" /></label>
    </p>

    <label for="name">Name</label>
    <div class="input-wrapper">
      <input type="text" id="name" name="name" required />
    </div>

    <label for="email">Email</label>
    <div class="input-wrapper">
      <input type="email" id="email" name="email" required />
    </div>

    <label for="message">Message</label>
    <textarea id="message" name="message" rows="6" required></textarea>

    <button type="submit">Send Message</button>
  </form>
</section>
