/* Body */
body {
  background-image:
      linear-gradient(
          #7e9287, black
      );
  color: #333333;
}

/* Headings */
h1, h2, h3 {
  color: #222222;
}

h4, h5, h6 {
  color: #555555;
}

/* Links */
a {
  color: #007BFF;
}

a:visited {
  color: #7558EF;
}

/* Buttons */
.button {
  background-color: #007BFF;
  color: #FFFFFF;
}


@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
