body {
    background-color: #30415D;
    color: #64ffda;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
