body {
    background-color: #30415D;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
// @import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
